@font-face {
  font-family: vazir;
  src: url(./font/project-font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff);
  src: url(./font/project-font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff2);
}
* {
  font-family: vazir;
  margin: 5px;
  padding: 5px;
  font-weight: 700px;
  transition: all 3ms;
}
.inputs {
  text-align: center;
}
input {
  border: 1.5px solid black;
  width: 200px;
  height: 25px;
  border-radius: 5px;
}
.header {
  background-color: blue;
  border: 1px solid black;
  border-radius: 5px;
}
.headline {
  text-align: center;
  color: white;
}
.showDiv {
  text-align: center;
}
.showBtn {
  background-color: greenyellow;
  width: 150px;
  height: 70px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}
.showBtn:active {
  box-shadow: 0 0 5px black inset;
}
.showBtn:hover {
  cursor: pointer;
}
.addDiv {
  text-align: center;
}
.addBtn {
  background-color: green;
  width: 150px;
  height: 70px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  color: white;
}
.addBtn:active {
  box-shadow: 0 0 5px black inset;
}
.addBtn:hover {
  cursor: pointer;
}
table {
  width: 90%;
}
.usersTable {
  width: 90%;
  margin: 30px auto;
  text-align: center;
  opacity: 0; 
}

th {
  background-color: #4caf50;
  color: white;
  padding-inline: 50px;
  border: 1px solid black;
  font-size: 18px;
}
td {
  padding-inline: 50px;
  border: 1px solid black;
  font-size: 18px;
}
.delete {
  width: 90px;
  height: 50px;
  background-color: red;
  border: 1px solid black;
  border-radius: 5px;
  
}
.delete:hover {
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
.delete:active {
  box-shadow: 0 0 5px black inset;
}
.btns{
  display: flex;
}
.edit {
  width: 90px;
  height: 50px;
  background-color: rgb(174, 0, 255);
  border: 1px solid black;
  border-radius: 5px;
  
}
.edit:hover {
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
.edit:active {
  box-shadow: 0 0 5px black inset;
}